@{
    ViewData["Title"] = "Creditos";
}

<img src="\img\CREDITOS.png" class="img-fluid" alt="...">
<h4> Esta pagina fue hecha por Michelle Garber y Martina Szwarcbort</h4>
<p>Desde el principio, trabajaron juntas en la programación de la página, enfrentando desafíos significativos, especialmente con las conexiones entre el Home Controller y la clase de Base de Datos. A pesar de estos obstáculos, lograron completar el proyecto a tiempo. Lo que más disfrutaron del proceso fue la búsqueda de imágenes y deportistas para integrar en la Base de Datos. Aunque enfrentaron dificultades y dolor de espalda durante el trabajo, están muy satisfechas con su participación en el proyecto y mantienen una actitud positiva para mejorar a futuro.</p>
<h5>A continuación podrás ver su opinión sobre el TP:</h5>

<div class="card" style="width: 18rem;">
  <img src="/img/martina.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Martina Szawrcbort</h5>
    <p class="card-text">Co-Creadora de la página de los Juegos Olimpicos. "Haber desarrollado esta página fue un proceso de aprendizaje, tuvimos muchos tropezones pero con mucha organización y dedicación logramos nuestro primer objetivo: que la página ejecute. Como jugadora de hockey y deportista fue muy lindo hacer este proyecto. Estoy muy feliz de haber podido poner a mis jugadoras favoritas en la Base de Datos".</p>
  </div>

<div class="card" style="width: 18rem;">
  <img src="/img/michelle.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Michelle Garber</h5>
    <p class="card-text">Co-Creadora de la página de los Juegos Olimpicos. "Me encantó programar la página de los Juegos Olimpicos, aprendí muchas cosas que me ayudaran en un futuro no muy lejano. Amo el deporte y como consumidora número 1 de los olimpicos y como jugadora de voley este fue un proyecto que me inspiró a seguir desarrollandolo. Trabajar en conjunto con Martina fue un placer y estamos muy orgullasas de lo que logramos"</p>
  </div>  
  </div>
