@{
    ViewData["Title"] = "Deportes";
}
<img src="\img\DEPORTES.png" class="img-fluid" alt="...">
<main class = "dep">

@foreach(Deporte dep in ViewBag.Listado){
<h1>@dep.Nombre</h1>
<img src = "/img/@dep.Foto" class="foto">
<button class="btn btn-primary"><a class="text-white" style="text-decoration: none;" href = '@Url.Action("VerDetalleDeporte", "Home", new {idDeporte = dep.IdDeporte})'> Ver Detalles </a></button>
}
</main>