 @{
    ViewData["Title"] = "Historia";
}

<img src="\img\HISTORIA.png" class="img-fluid" alt="...">
<section class = "Historia">
            <!--Principio conteiner-->
            <div class="container text-center">
            <div class = "foto2">
                <div class="row">
                  <div class="col">
                    <h3>Historia</h3>
                  </div>
                  <div class="col">
                    <h6>Los Juegos Olímpicos tienen una rica historia que se remonta a la Antigua Grecia, donde se celebraban en honor a Zeus en Olimpia. 
                        Fueron reiniciados en la era moderna en 1896 por Pierre de Coubertin, con el objetivo de promover la paz y la cooperación internacional a través del deporte.
                    </h6>
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col">
            </div>
            <!--Fin conteiner-->
            <!--Principio conteiner-->
            <div class="container text-center">
              <div class = "foto2">
                <div class="row">
                  <div class="col">
                    <h6>La ceremonia de apertura de los Juegos Olímpicos es un espectáculo lleno de tradición y cultura. 
                        Incluye el desfile de los atletas, el encendido del pebetero olímpico y actuaciones artísticas que celebran la cultura del país anfitrión. 
                        El evento culmina con el juramento olímpico y el discurso del Presidente del Comité Olímpico Internacional (COI), marcando oficialmente el inicio de los Juegos.
                    </h6>
                  
                  </div>
                  <div class="col">
                    <h3>Ceremonia de Apertura</h3>
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col">
            </div>
            <!--Fin conteiner-->
             <!--Principio conteiner-->
             <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <h3>Récords Olímpicos
                    </h3>
                  </div>
                  <div class="col">
                    <h6>Los récords olímpicos representan los mejores desempeños en cada evento durante los Juegos. Se establecen cuando un atleta supera el récord previo en una prueba específica. 
                        Los récords mundiales, que son los mejores en competiciones internacionales en general, a menudo se rompen en los Juegos Olímpicos, convirtiéndose en récords olímpicos.
                    </h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
            </div>
            <!--Fin conteiner-->

        </section>