 @{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Olympics.com</title>
</head>
<body>
    <header>
    </header>
    <main>
        <img src="\img\banner.jpg" class="img-fluid" alt="...">
            <div>
               <h1>JUEGOS OLIMPICOS</h1> 
               <h6>Bienvenido al sitio oficial de los Juegos Olimpicos. Descubre todo sobre los deportistas, paises y deportes que participan.</h6> 
            </div>
            <img src="\img\index.png" class="img-fluid" alt="...">
            <img src="\img\index2.png" class="img-fluid" alt="...">
    </main>
</body>
</html>
