 @{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Olympics.com</title>
</head>
<body>
    <header>


    </header>
    <main>
        <img src="\img\banner.jpg" class="img-fluid" alt="...">
        <section>
            <div>
               <h1>JUEGOS OLIMPCOS</h1> 
            </div>
            <div>
                <p>Los Juegos Olímpicos son la única competencia realmente universal, multideportiva y que celebra el deporte a nivel global. 
                    Con la participación de más de 200 países en más de 400 eventos entre los Juegos de Verano e Invierno, este evento es el lugar al que todos acuden para competir, 
                    inspirarse y unirse.</p>
            </div>
            <div>//Carrusel de fotos</div>
        </section>
        <section>
            <!--Principio conteiner-->
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <h3>Historia</h3>
                  </div>
                  <div class="col">
                    <h6>Los Juegos Olímpicos tienen una rica historia que se remonta a la Antigua Grecia, donde se celebraban en honor a Zeus en Olimpia. 
                        Fueron reiniciados en la era moderna en 1896 por Pierre de Coubertin, con el objetivo de promover la paz y la cooperación internacional a través del deporte.
                    </h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
            </div>
            <!--Fin conteiner-->
            <!--Principio conteiner-->
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <h6>La ceremonia de apertura de los Juegos Olímpicos es un espectáculo lleno de tradición y cultura. 
                        Incluye el desfile de los atletas, el encendido del pebetero olímpico y actuaciones artísticas que celebran la cultura del país anfitrión. 
                        El evento culmina con el juramento olímpico y el discurso del Presidente del Comité Olímpico Internacional (COI), marcando oficialmente el inicio de los Juegos.
                    </h6>
                  </div>
                  <div class="col">
                    <h3>Ceremonia de Apertura</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
            </div>
            <!--Fin conteiner-->
             <!--Principio conteiner-->
             <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <h3>Récords Olímpicos
                    </h3>
                  </div>
                  <div class="col">
                    <h6>Los récords olímpicos representan los mejores desempeños en cada evento durante los Juegos. Se establecen cuando un atleta supera el récord previo en una prueba específica. 
                        Los récords mundiales, que son los mejores en competiciones internacionales en general, a menudo se rompen en los Juegos Olímpicos, convirtiéndose en récords olímpicos.
                    </h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
            </div>
            <!--Fin conteiner-->

        </section>
    
    </main>
</body>
</html>
